:root{
    --color-white: #ffffff;
    --color-gray: #7a7a7a;
    --color-black: #000000;
    --color-blue: #1d3bbe;
    --color-orange: #fc6a0a;
    --color-green: #1dd42c;
    --color-red: #f30c0c;
}
.navigation_header{
    text-decoration: none;
    color: var(--color-black1);
    transition: 1s;
    font-weight: bold;
    gap: 3em;
    z-index: 2;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-white);
    box-shadow: 1px 1px 4px var(--color-white1);
    height: 56px;
    justify-content: space-between;
    padding: 0 5%;
}
.content{
    text-align: center;
    padding: 10px;
    height: 100vh;
    transition: 1s;
}
.btn_icon_header{
    background-color: transparent;
    border: none;
    color: var(--color-black1);
    cursor: pointer;
    display: none;
}
.icone{
    height: 45px;
    width: 45px;
}
.logo_header{
    height: 45px;
    width: 45px; 
}